*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.header{
    width: 100%;
    position: sticky;
    top: 0;
    line-height: 100px;
    background-color: #f5ba13;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 50px;
    color: white;
    box-shadow: 5px 3px 15px -5px rgba(0,0,0,0.5);
}
.main_note{
    width: 90%;
    max-width: 30rem;
    padding: 15px 10px 5px 10px;
    margin: 20px auto;
}
.my_notes h1{
    color: #34495e;
}
.my_notes p{
    color: grey;
}
form{
    min-height: 50px;
    color: #ecf0f1;
    padding: 15px 10px 5px 10px;
    box-shadow: 3px 5px 15px -5px rgba(0,0,0,0.5);
    border-radius: 10px;
}
input{
    width: 100%;
    line-height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: bold;
}
textarea{
    min-width: 100%;
    resize: none;
    line-height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    margin: 10px 0;
}
button{
    display: block;
}
footer{
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
    padding-bottom: 5px;
    height: 20px;
    color: white;
    background: black;
}
svg{
    cursor: pointer;
}
.note{
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}
.note p{
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.note h1{
    font-size: 1.1em;
    margin-bottom: 6px;
}
.note .btn{
    float: right;
    position: relative;
    margin-right: 10px;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: transparent;
    cursor: pointer;
    outline: none;
    box-shadow: 3px 3px 15px -10px rgba(0,0,0,0.5);
}
.note .btn:hover{
    background-color: #f5ba13;
}
.note .btn:hover svg{
    fill: #fff;
}
.addBtn{
    position: relative;
    margin-right: 10px;
    margin-left: auto;
    border: none;
    width: 54px;
    height: 54px;
    border-radius: 50px;
    background: transparent;
    outline: none;
    box-shadow: 3px 3px 15px -10px rgba(0,0,0,0.5);
}
.addBtn:hover{
    background-color: #f5ba13;
}
.addBtn:hover svg{
    fill: #fff;
}
.react-responsive-modal-modal{
    border-radius: 20px !important;
}
.react-responsive-modal-closeButton{
    padding: 0.8rem;
}
.modalSubmit{
    padding: 5px 5px;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
}
